body {
  background-color: #fff;
}
.temp {
  margin-top: 40px;
  margin-bottom: 50px;
  overflow: hidden;
}
.newsinfo img {
  border: 0;
  width: 100%;
}
img.gomeImgLoad {
  width: 100%!important;
  display: block;
}
p[align=center] {
  margin: 0;
}
p[align=center] img {
  display: block;
}
.dingwei {
  width: 100%;
}
